@model List<ResultProductDto>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeadComponentPartial")

<body class="sub_page">

    @await Component.InvokeAsync("_UILayoutNavbarComponentPartial")
    </div>

    <section class="food_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Menümüz
                </h2>
            </div>

            <ul class="filters_menu">
                <li class="active" data-filter="*">Tümü</li>
                <li data-filter=".Hamburger">Hamburger</li>
                <li data-filter=".Makarna">Makarna</li>
                <li data-filter=".Salata">Salata</li>
                <li data-filter=".Tatlı">Tatlı</li>
                <li data-filter=".İçecek">İçecek</li>          
            </ul>
            <div class="filters-content">
                <div class="row grid">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-6 col-lg-4 all @item.CategoryName">
                            <div class="box">
                                <div>
                                    <div class="img-box">
                                        <img src="@item.ImageUrl" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <h5>
                                            @item.ProductName
                                        </h5>
                                        <p>
                                            @item.Description
                                        </p>
                                        <div class="options">
                                            <h6>
                                                @item.Price₺
                                            </h6>
                                            <a href="#" onclick="showproductid(@item.ProductID)">
                                                <i class="fa fa-shopping-cart" style="color:#fff"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="btn-box">
                <a href="/Baskets/Index/">
                    Sepete Git
                </a>
            </div>
        </div>
    </section>

    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")
    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")

    <script>
        function showproductid(value){
            var id = value;
            $.ajax({
                type: 'POST',
                data: { item: id },
                url: "/Menu/AddBasket/" + id,              
                contentType: 'json',
                success: function () {             
                    swal("Seçilen Ürün ID:" + id, "Seçtiğiniz Ürün Sepete Eklendi!", "success");
                }
            });
        }
    </script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>
</html>